body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(../imgs/fondo.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    width: 20%;
    font-family: 'Oswald', sans-serif;
    background-color: #FCC700;
    padding: 15px;
    height: auto;
    overflow-y: auto;
}

nav h2{
    font-size: 50px;
    color: #f4f4f4;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    color: #666001;
    text-decoration: none;
    font-size: 40px;
}

nav ul li a:hover {
    color: black;
}



.details {
    width: 30%;
    padding: 20px;
    background-color: #f4f4f4;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    display: flex;
}

#main {
    height: 30vh;
    flex: 1;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto; 
}

#extra {
    width: 800px;
    height: calc(100vh - 30vh - 40px);
    margin: 0 auto;
    padding: 20px;
    background-color: #FAFAFA;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-heading {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #483d10;
    font-weight: bold;
    text-align: left;
}

.custom-text {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    color: #7c681b;
    line-height: 1.5;
    font-weight: bold;
    margin: 10px 0;
}

.custom-list {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #bb9e28;
    line-height: 1.5;
    font-weight: bold;
    margin: 10px 0;
}

.custom-info {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #bb9e28;
    line-height: 1.5;
    font-weight: bold;
    margin: 10px 0;
}

.custom-list .title {
    font-weight: bold; /* Hace el texto más prominente */
    color: #dcbb39; /* Color predeterminado del título */
}



